version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - Api
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: igorgbarros/backend:latest
    volumes:
      - ./Api:/app
    working_dir: /app
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      TZ: America/Sao_Paulo
      PYTHONUNBUFFERED: 1
    networks:
      - Api
    ports:
      - "8000:8000"

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9000:9000"
    networks:
      - Api

  watchtower:
    image: v2tec/watchtower
    container_name: watchtower
    restart: always
    environment:
      - WATCHTOWER_NOTIFICATIONS=slack
      - WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/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
      - WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER=Servidor Docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup

networks:
  Api:
    driver: bridge

volumes:
  postgres_data:
  portainer_data:
